$bg-hover: rgba(211, 211, 211, 0.21);

.vtm-card {
  width: 300px;
  border-radius: 5px;
  color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-hover;

  &:hover {
    transform: translateY(4px);
    transition: all .5s;
    cursor: pointer;
  }

  &__header {

    &-title {
      margin: 0;
      padding-bottom: 1em;
      font-weight: 100;

      &:hover {
        cursor: pointer;
        background-color: $bg-hover;
      }
    }

    &-description {
      margin: 0;
      padding-bottom: 2em;

      &:hover {
        cursor: pointer;
        background-color: $bg-hover;
      }
    }
  }

  &__middle {
    margin: 0;
    overflow: auto;
    max-height: 220px;

    textarea {
      height: auto;
    }

    &.is-expanded {
      height: auto;
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-hover;
    }
  }

  &__body {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    border-top: solid 1px lightgray;
    padding: 1em 0 0 0;
    overflow: auto;

    .mdl-button {
      padding: 0;
      margin: 0 0 0 10px;
    }
  }

  .vtm-avatar__list {

    &-item {
      color: white;
      &:hover, input {
        cursor: pointer;
        background-color: $bg-hover;
      }
    }
  }
}
